<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div class="wrap"><div class="btn_botFix_w"><div class="inner bg_white"><a data-element-id="BPG-COMN-10-20-S-e01" data-nav-target="BPG-YGYO-30-S" class="btn-style-h48 btn-skyBlue round_r8 on"><span>확인</span></a></div></div></div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="bg_white"><div class="wrap"><div class="btn_botFix_w bg_white">
				<div class="inner half type2">
					<a data-element-id="BPG-OBO-10-10-10-S-e06" href="#none" class="typeB btn-style-h46 round_r8 on" id="reject">
						<span>거절</span>
					</a>
					<a data-element-id="BPG-OBO-10-10-10-S-e07" href="#none" class="typeA long btn-style-h46 round_r8 on" id="accept" value="1">
						<div class="tooltip_w">
							<p class="tooltip_msg">주문접수를 진행해주세요<span>&#128578;</span></p>
						</div>
						<span>접수</span>
					</a>
				</div>
			</div></div><span class="dg-sp-tag">bg_white</span></div><div class="dg-sp-cell" data-dg-variant="bg_f7"><div class="btn_botFix_w bg_f7">
				<div class="inner bg_grey">
					<a data-element-id="BPG-OBO-10-10-20-S-e05" href="#" class="btn_default btn-style-h48 round_r8" id="send"><span>전송하기</span></a>
				</div>
			</div><span class="dg-sp-tag">bg_f7</span></div><div class="dg-sp-cell" data-dg-variant="bpOder"><div class="btn_botFix_w bpOder" id="divDeadLine" style=''>
				<div class="inner">
					<a data-element-id="BPG-OFFD-10-20-S-e10" href="#none" class="round_r8">
						<span>주문이 마감되었습니다</span>
					</a>
				</div>
			</div><span class="dg-sp-tag">bpOder</span></div></div>
