<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----" style="position:relative;min-height:480px"><div class="layer_bPop">
			<div class="popup_con pd0">
				
				<div class="edit_pop add_tit">
					<h2 class="ly_pop_tit">주문 거부 사유 선택</h2>
					<p class="btn_close">
						<a href="javascript:doRejectSetting('none');"><span class="blind">닫기</span></a>
					</p>
					
					<ul id="rejectUl">
						<li><a href="#none" value="L">주문불가 지역</a></li>
						<li><a href="#none" value="O">재료소진</a></li>
						<li><a href="#none" value="M">주문불가 메뉴</a></li>
						<li><a href="#none" value="E">기타</a></li>
					</ul>
					
					
					<div class="ly_pop_btw btn_full pdb0 mgt10">
						<a href="#none" class="btn_default btn-style-h48 round_r8 pd0" id="confirm"><span>확인</span></a>
					</div>
				</div>
				
			</div>
		</div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="beple-ui" style="position:relative;min-height:480px"><div class="layer_bPop beple-ui">
            <div class="popup_con bp-ygy pd0">
                
                <div class="edit_pop ygy_categori" >
                    <h2 class="ly_pop_tit">카테고리</h2>
                    <p class="btn_close">
                        <a id="categoryPopupCloseBtn"><span class="blind">닫기</span></a>
                    </p>
                    
                    <div class="ygy__main">
                        <div class="menu-categori">
                            <ul id='categoryPopupList'><li><div class="menu-categori__item"><a><p class="menu-categori__icon"></p><p class="menu-categori__name" data-type ="004">홍길동</p></a></div></li></ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div><span class="dg-sp-tag">beple-ui</span></div></div>
