<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="btn_default-round_r8"><a data-element-id="BPG-HIST-10-10-10-S-e04" class="btn_default btn-style-h48 round_r8">
                    주문 취소
                </a><span class="dg-sp-tag">btn_default round_r8</span></div><div class="dg-sp-cell" data-dg-variant="btn_default-round_r8-on"><div class="wrap"><div class="inner"><a class="btn_default btn-style-h48 round_r8 on">
                    다른 메뉴 보기
                </a></div></div><span class="dg-sp-tag">btn_default round_r8 on</span></div><div class="dg-sp-cell" data-dg-variant="btn_default-btn_line-round_r8"><a data-element-id="BPG-HIST-20-10-S-e05" data-nav-target="BPG-OFFD-20-10-S" class="btn_default btn-style-h48 btn_line round_r8" id="btn_cancel">주문 취소</a><span class="dg-sp-tag">btn_default btn_line round_r8</span></div><div class="dg-sp-cell" data-dg-variant="btn_default-on"><div class="wrap"><div class="inner"><a data-element-id="BPG-OBO-70-30-S-e04" data-nav-target="BPG-OBO-10-S" href="bo_my_main.act?BP_AFLT_SEQ=" class="btn_default btn-style-h48 on">
						확인
					</a></div></div><span class="dg-sp-tag">btn_default on</span></div></div>
