<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="two"><div class="wrap"><div class="bpleOder"><div class="tab_menu two" id="statusDiv">
							<a data-element-id="BPG-OBO-10-10-S-e07" href="#none" class="on" value="ing"><span>진행중</span></a>
							<a data-element-id="BPG-OBO-10-10-S-e08" href="#none" value="completed"><span>완료/취소</span></a>
						</div></div></div><span class="dg-sp-tag">two</span></div><div class="dg-sp-cell" data-dg-variant="four"><div class="wrap"><div class="bpleOder"><div class="tab_menu four">
							<a data-element-id="BPG-OBO-20-S-e13" href="#" class="on"><span>카테고리</span></a>
							<a data-element-id="BPG-OBO-20-S-e08" data-nav-target="BPG-OBO-50-S" href="#"><span>메뉴</span></a>
							<a data-element-id="BPG-OBO-20-S-e09" data-nav-target="BPG-OBO-30-S" href="#"><span>옵션</span></a>
							<a data-element-id="BPG-OBO-20-S-e10" data-nav-target="BPG-OBO-40-S" href="#"><span>원산지</span></a>
						</div></div></div><span class="dg-sp-tag">four</span></div><div class="dg-sp-cell" data-dg-variant="----"><div class="wrap"><div class="bpleOder"><div class="st_info_con"><div class="tab_area"><div class="tab_menu">
                                    <a data-element-id="BPG-ORDR-20-S-e06" href="#none" class="on"><span>기본정보</span></a>
                                    <a data-element-id="BPG-ORDR-20-S-e07" href="#none"><span>안내사항</span></a>
                                </div></div></div></div></div><span class="dg-sp-tag">(기본)</span></div></div>
