<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----" style="position:relative;min-height:480px"><div class="layer_bPop">
			<div class="popup_con pd0">
				
				<div class="acc_select">
					<h2>
						<strong id="d_bank_nm">국민은행</strong>
					</h2>
					
					<p class="btn_close">
						<a href="#none">
							<span class="blind">닫기</span>
						</a>
					</p>
					
					
					<ul class="acc_set_list" id="ul_acc_set">
						<li>
							<a href="#none" id="btn_main_acc">주계좌 설정</a>
						</li>
						<li>
							<a href="#none" id="btn_del_acc">계좌 삭제</a>
						</li>
					</ul>
					
				</div>
				
			</div>
		</div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="sort_layer" style="position:relative;min-height:480px"><div class="layer_bPop sort_layer">
		<div class="popup_con pd0">
			
			<div class="br_n_sort">
				<h2>정렬</h2>
				
				<p class="btn_close">
					<a id="btn_close"><span class="blind">닫기</span></a>
				</p>
				
				
				<ul class="list" id="sort_list" >
					<li class="chk"><a id="0">혜택순</a></li>
					<li><a id="1">판매량순</a></li>
					<li><a id="2">신상품순</a></li>
				</ul>
				
			</div>
			
		</div>
	</div><span class="dg-sp-tag">sort_layer</span></div><div class="dg-sp-cell" data-dg-variant="detail" style="position:relative;min-height:480px"><div class="layer_bPop detail" style="display:;">
		<div class="popup_con pd0">
			
			<div class="detail_filter addBtn-pb58">
				
				<h2 class="filter_tit">상품권 종류</h2>
				
				<div id="gift_type" class="filter_tab">
					<div class="inner four">
						<a id="gift_type_all" class="on" title="선택됨">전체</a>
						<a id="01">금액권</a>
						<a id="02">교환권</a>
						<a class="empty">&nbsp;</a>
					</div>
				</div>
				
				<h2 class="filter_tit">금액</h2>
				
				<div id="gift_money" class="filter_tab">
					<div class="inner four">
						<a id="gift_money_all" min_amt=""  max_amt=""  class="on" title="선택됨">전체</a>
						<a id="gift_money_1000" min_amt="0" max_amt="9999">1만원 미만</a>
						<a id="gift_money_1020" min_amt="10000" max_amt="29999">1-2만원대</a>
						<a id="gift_money_3040" min_amt="30000" max_amt="49999">3-4만원대</a>
					</div>
					<div class="inner four mgt10">
						<a id="gift_money_5000"  min_amt="50000">5만원 이상</a>
						<a href="#none" class="empty">&nbsp;</a>
						<a href="#none" class="empty">&nbsp;</a>
						<a href="#none" class="empty">&nbsp;</a>
					</div>
				</div>
			</div>
			
			
			<div class="btn_botFix_w">
				<div class="inner bg_white">
					<a id="pop_search" class="btn_default round_r8 btn-style-h48 on">조회하기</a>
				</div>
			</div>
			
		</div>
	</div><span class="dg-sp-tag">detail</span></div></div>
