<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div class="wrap"><div class="account_select"><div class="btn_botFix_w">
						<div class="inner">
							<a href="#none" id="account_register" class="btn-skyBlue btn-style-h46 round_r8 on">
								<span>계좌 등록</span>
							</a>
						</div>
					</div></div></div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="brand_rn_btn"><div class="wrap"><div class="btn_botFix_w brand_rn_btn">
				<div class="inner bg_white">
					<a data-element-id="BPY-BRND-10-20-S-e08" id="btn_pay" class="btn_default round_r8 btn-style-h48 on">
						
							결제하기
						
					</a>
				</div>
			</div></div><span class="dg-sp-tag">brand_rn_btn</span></div><div class="dg-sp-cell" data-dg-variant="auto-bottom-space"><div class="wrap"><div class="btn_botFix_w auto-bottom-space">
						<div class="inner bg_white">
							<a data-element-id="BPY-MYAF-30-S-e03" id="new_reg_btn" class="btn_default btn-style-h48 round_r8 on">새로운 소식 등록하기</a>
						</div>
					</div></div><span class="dg-sp-tag">auto-bottom-space</span></div><div class="dg-sp-cell" data-dg-variant="bg_white"><div class="fch"><div class="btn_botFix_w bg_white">
				<div class="inner">
					<a id="prvt_btn" class="btn_default btn-style-h46 round_r8"><span>인증하기</span></a>
				</div>
			</div></div><span class="dg-sp-tag">bg_white</span></div><div class="dg-sp-cell" data-dg-variant="brand_rn_buy-on"><div id="btn_botFix_w" class="btn_botFix_w brand_rn_buy on">
		<div class="content_wrap">
			<p class="h_bar"><a href="#none"><span class="blind">열기/닫기</span></a></p>
			<div class="count">
				<a id="btn_minus" class="minus"><span class="blind">수량빼기</span></a>
				<span><input id="qty" type="tel" readonly value="1"></span>
				<a id="btn_plus" class="plus"><span class="blind">수량더하기</span></a>
			</div>
			<div class="total">
				<p class="txt">총 결제금액</p>
				<p class="bal"><strong id="tot_money" amt="">4,500</strong>원</p>
			</div>
			<div class="inner bg_white">
				<a id="btn_buy" class="btn_default round_r8 btn-style-h48 on">구매하기</a>
			</div>
		</div>
	</div><span class="dg-sp-tag">brand_rn_buy on</span></div></div>
