<div class="dg-body"><div class="wrap bg_f7">
        <div class="header floating-back-header floating-sticky">
            <h1>계좌 등록/해지 요청</h1>
        </div>
        <div class="container">
            <div class="content">
            
                <div class="account_select pdt0">

                    
                    <div class="top_bx">
                        <div class="tab">
                            <a data-element-id="BPY-ACCT-10-S-e03" id="reg_acct_req" class="on">일괄등록요청</a>
                            <a data-element-id="BPY-ACCT-10-S-e04" id="trmt_acct_req" class="on">일괄해지요청</a>
                            
                            
                            
                        </div>
                    </div>
                    
                    
                    
                </div>
                
                
                
            
            
            <div class="complete_box" style="display:none;">
                <div class="inner">
                    <p class="ico"></p>
                    <h2>
                        <strong id="aplc_ds">TEST</strong>
                    </h2>
                    <p id="res_msg">
                        결제가 정상적으로 완료되었습니다.
                    </p>
                </div>
            </div>
            
            
            </div>
        </div>
    </div></div>
