<div class="dg-body"><div class="wrap">
		
		<div class="container">
			
			<div class="content">
				<div class="br_gift_rn add_flex_column addBtn-pb58 addNav">
					<div class="product">
						
						<div class="img_bx"><img alt="" src="../assets/_sample/card.svg"></div>
						
						<div class="info_bx label_special">
							
							<p class="brand">
								비플머니
								
									<span class="label">특가상품</span>
								
							</p>
							
							<p class="name">비플머니</p>
							
							<p class="price">
							
							
								<span class="discount">%</span>
								<strong>4,500<span class="won">원</span></strong>
								<span class="price_original">4,500원</span>
							
							</p>
						</div>
						
						
						<div class="detail_info_bx">
							<div class="tab_menu">
								<a data-element-id="EXW-BRWV-10-10-10-S-e01" href="#none" class="on"><span>기본정보</span></a>
								<a data-element-id="EXW-BRWV-10-10-10-S-e02" href="#none"><span>안내사항</span></a>
							</div>
							<div class="tab_wrap">
								
								<div class="def_info on">
									<dl>
										<dt>상품권 소개</dt>
										<dd></dd>
									</dl>
									<dl>
										<dt>상품권 종류</dt>
										<dd>비플머니</dd>
									</dl>
									<dl>
										<dt>사용 유효기간</dt>
										<dd>구매일로부터 일</dd>
									</dl>
									<dl>
										<dt>사용가능 매장</dt>
										<dd>
											<ul>
												<li></li>
											</ul>
										</dd>
									</dl>
								</div>
								
								<div class="noti">
									<dl>
										<dt>유의사항</dt>
										<dd>
											
										</dd>
									</dl>
									<div class="toggle_wrap">
										<p class="trigger"><a>상품 필수 표기 정보</a></p>
										<div class="toggle_con">
											<div class="inner">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						
						<div class="product_push">
							<h2>이런 상품권 어때요</h2>
							
							<div class="item_list">
								
								
									<div class="push_item" code="" bgc="">
										<p class="img"><img alt="" src="../assets/_sample/card.svg"></p>
										<p class="brand" title="비플머니">비플머니</p>
										<p class="name" title="비플머니">비플머니</p>
										<p class="price">
										
											<span class="discount">%</span>
										
											<strong>4,500<span class="won">원</span></strong>
										</p>
									</div>
									
									</div>
								</div>
								
					</div>
					
					
					<div class="brand-footer bg_f9">
						<div class="d_flex-column">
							<div class="brand-footer--text">상호: 비즈플레이㈜</div>
							<div class="brand-footer--text">대표이사: 석창규</div>
							<div class="brand-footer--text">주소: 서울시 영등포구 영신로 220 KnK디지털타워 12층</div>
							<div class="brand-footer--text"><span>사업자등록번호: 107-88-36127</span><i>|</i><a data-element-id="EXW-BRWV-10-10-10-S-e03" id="buss_info" class="fc-666">사업자정보 확인<i class="icon arr_right-16"></i></a></div>
							<div class="brand-footer--text">통신판매신고번호: 2015-서울영등포-0113호</div>
							<div class="brand-footer--text">고객센터: 1670-0136</div>
							<div class="brand-footer--text">이메일: <a data-element-id="EXW-BRWV-10-10-10-S-e04" href="bpay@bizplay.co.kr" target="_blank">bpay@bizplay.co.kr</a></div>
							<div class="brand-footer--text">
								비즈플레이㈜는 통신판매중개자이며, 통신판매의
								당사자가 아닙니다. 상품, 상품정보, 거래에 관한 의무와
								책임은 판매자에게 있습니다.
							</div>
						</div>
					</div>
						
										
				</div>
			</div>
			
			
			<div id="btn_dim" class="btn_botFix_w brand_rn_btn">
				
				
					<div class="inner half bg_white">
						<a data-element-id="EXW-BRWV-10-10-10-S-e05" id="gift_btn" class="typeB round_r8 btn-style-h48">선물하기</a>
						<a data-element-id="EXW-BRWV-10-10-10-S-e06" id="buy_btn" class="typeA round_r8 btn-style-h48 on">구매하기</a>
					</div>
				
			</div>
		</div>
	</div></div>
