<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div id="info_div" class="form-box js-form-box gap-32">
								
								<div class="form__item js-form-item js-step-5">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>이메일(선택)</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											<input data-element-id="EXW-UWV-10-S-e04" id="email" type="email" value="" placeholder="이메일 주소" maxlength="150" inputmode="email" autocomplete="off">
										</div>
									</div>
								</div>

								
								<div class="form__item js-form-item js-step-4 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>휴대폰번호</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line js-phone-number">
											<input data-element-id="EXW-UWV-10-S-e05" id="mob_no" type="tel" value="" placeholder="휴대폰번호" maxlength="13" inputmode="numeric">
										</div>
									</div>
								</div>

								
								<div class="form__item js-form-item js-step-3 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>통신사</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											<button data-element-id="EXW-UWV-10-S-e01" type="button" class="input-unit fc-placeholder js-select--result js-popup-open" data-modal="popup-select--telecom">
												<span id="tel_corp" class="target">통신사 선택</span><i class="icon icon--arrow-24 pointer-bottom"></i>
											</button>
										</div>
									</div>
								</div>

								
								<div class="form__item regist-code js-form-item js-step-2 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>주민등록번호</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											<input data-element-id="EXW-UWV-10-S-e06" id="birth" type="text" value="" placeholder="생년월일 6자리" maxlength="6" inputmode="numeric">
											<span class="between-bar">-</span>
											<input id="gender" type="text" value="" placeholder="0" maxlength="1" inputmode="numeric">
											<div class="currency-box">
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
											</div>
										</div>
									</div>
								</div>

								
								<div class="form__item js-form-item js-step-1 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>이름</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											
											<input data-element-id="EXW-UWV-10-S-e08" id="name" type="text" value="" placeholder="이름" enterkeyhint="next">
										</div>
									</div>
								</div>
							</div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="scroll-box" data-dg-state="default"><div class="form-box js-form-box scroll-box">
					<div class="scroll-box--view">
						<ul class="bank-select__list" id="bank_only">

							<li class="bank-select__item">
								<a href="#none" class="button a_bank_list js-popup-close" role="button"
								   bank_cd=""
								   bank_nm="국민은행">
									<img src="../../core/EXW/assets/image/bank/ico_bank_kb.png" alt=""
									    >
									<span>국민은행</span>
								</a>
							</li>

						</ul>
					</div>
				</div><span class="dg-sp-tag">scroll-box</span></div><div class="dg-sp-cell" data-dg-variant="scroll-box" data-dg-state="disabled"><div class="form-box js-form-box scroll-box">
					<div class="scroll-box--view">
						<ul class="bank-select__list" id="bank_only">

							<li class="bank-select__item">
								<a href="#none" class="button a_bank_list js-popup-close dis" role="button"
								   bank_cd=""
								   bank_nm="국민은행">
									<img src="../../core/EXW/assets/image/bank/ico_bank_kb.png" alt=""
									    >
									<span>국민은행</span>
								</a>
							</li>

						</ul>
					</div>
				</div><span class="dg-sp-tag">scroll-box · 비활성</span></div></div>
