<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="button-xl-button--lv1-dis"><a data-element-id="EXW-UWV-10-S-e03" id="req_certify" href="#none" class="button button-xl button--lv1 dis js-step-submit">
						<span>인증하기</span>
					</a><span class="dg-sp-tag">button-xl button--lv1 dis</span></div><div class="dg-sp-cell" data-dg-variant="button-xl-button--lv1"><a id="done_btn" href="#none" class="button button-xl button--lv1" aria-label="확인하고 페이지 닫기">
							<span>확인</span>
						</a><span class="dg-sp-tag">button-xl button--lv1</span></div><div class="dg-sp-cell" data-dg-variant="button-small-button--lv5_line"><button type="button" id="re_certify" class="button button-small button--lv5_line"><span>인증번호 재요청</span></button><span class="dg-sp-tag">button-small button--lv5_line</span></div><div class="dg-sp-cell" data-dg-variant="a_bank_list"><a href="#none" class="button a_bank_list js-popup-close" role="button"
								   bank_cd=""
								   bank_nm="국민은행">
									<img src="../assets/image/bank/ico_bank_kb.png" alt=""
									    >
									<span>국민은행</span>
								</a><span class="dg-sp-tag">a_bank_list</span></div><div class="dg-sp-cell" data-dg-variant="button-xl-button--lv1-col--block"><button type="button" class="button button-xl button--lv1 col--block js-popup-close">
				<span>확인</span>
			</button><span class="dg-sp-tag">button-xl button--lv1 col--block</span></div><div class="dg-sp-cell" data-dg-variant="----"><button type="button" class="button js-bank-suggest" data-bank-cd="{{ bankCd }}" data-bank-nm="{{ bankNm }}">
			<img src="../assets/image/bank/ico_bank_{{ bankCd }}.png" alt=""
			    >
			<span>{{ bankNm }}</span>
		</button><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="button-small-button--lv5"><a data-element-id="EXW-UWV-40-30-S-e03" href="#none" class="button button-small button--lv5 js-num-input">
								<span>숫자 입력하기</span>
							</a><span class="dg-sp-tag">button-small button--lv5</span></div><div class="dg-sp-cell" data-dg-variant="button-xsmall-button--lv5"><button data-element-id="EXW-UWV-50-10-S-e09" type="button" class="button button-xsmall button--lv5 js-popup-open"
									        data-modal="popup-use-info" id="btnUseInfo"><span>이용안내</span></button><span class="dg-sp-tag">button-xsmall button--lv5</span></div></div>
