<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="gap-32"><div id="info_div" class="form-box js-form-box gap-32">
								
								<div class="form__item js-form-item js-step-5">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>이메일(선택)</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											<input data-element-id="EXW-UWV-10-S-e04" id="email" type="email" value="" placeholder="이메일 주소" maxlength="150" inputmode="email" autocomplete="off">
										</div>
									</div>
								</div>

								
								<div class="form__item js-form-item js-step-4 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>휴대폰번호</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line js-phone-number">
											<input data-element-id="EXW-UWV-10-S-e05" id="mob_no" type="tel" value="" placeholder="휴대폰번호" maxlength="13" inputmode="numeric">
										</div>
									</div>
								</div>

								
								<div class="form__item js-form-item js-step-3 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>통신사</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											<button data-element-id="EXW-UWV-10-S-e01" type="button" class="input-unit fc-placeholder js-select--result js-popup-open" data-modal="popup-select--telecom">
												<span id="tel_corp" class="target">통신사 선택</span><i class="icon icon--arrow-24 pointer-bottom"></i>
											</button>
										</div>
									</div>
								</div>

								
								<div class="form__item regist-code js-form-item js-step-2 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>주민등록번호</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											<input data-element-id="EXW-UWV-10-S-e06" id="birth" type="text" value="" placeholder="생년월일 6자리" maxlength="6" inputmode="numeric">
											<span class="between-bar">-</span>
											<input id="gender" type="text" value="" placeholder="0" maxlength="1" inputmode="numeric">
											<div class="currency-box">
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
												<p class="currency-bullet"></p>
											</div>
										</div>
									</div>
								</div>

								
								<div class="form__item js-form-item js-step-1 js-require">
									<div class="form__item-header input-line--header">
										<h3 class="form__label container__headline container__headline--lv1">
											<label>이름</label>
										</h3>
									</div>

									<div class="form__item-wrap">
										<div class="input-type--line">
											
											<input data-element-id="EXW-UWV-10-S-e08" id="name" type="text" value="" placeholder="이름" enterkeyhint="next">
										</div>
									</div>
								</div>
							</div><span class="dg-sp-tag">gap-32</span></div><div class="dg-sp-cell" data-dg-variant="grow-y" data-dg-state="default"><div class="form-box js-form-box grow-y js-checked--handle">
								<div class="flex-column gap-16">
									
									<div class="column__head agree-head">
										<label class="input-type--check flex-row">
											<input id="check_all" type="checkbox" class="js-all-check"><span>전체 동의하기</span>
										</label>
									</div>

									
									<div class="form-box js-form-box justify-spacing-def">
										<div class="flex-column gap-12">

											
											<div id="bpp_clause_box" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="bpp_clause" type="checkbox">
														<span>(필수) 비플페이 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="bpp_agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060001">
																<span>서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060016">
																<span>개인정보 수집 및 이용동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060002">
																<span>개인정보 제 3자 제공동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060004">
																<span>통합 전자금융거래 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div id="agree_form_div" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="cert_clause" type="checkbox">
														<span>(필수) 본인 인증 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060011">
																<span>통신사 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060012">
																<span>본인확인 서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060013">
																<span>개인정보 수집 · 이용 · 취급 · 위탁 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060014">
																<span>고유식별정보 처리 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													
													<div id="agree_plus" class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="999999">
																<span>알뜰폰 개인정보 제3자 제공 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div class="form__item-wrap flex-column">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="agree-chk3" type="checkbox">
														<span>(선택) 마케팅 정보 수신 동의</span>
													</label>
													<a href="#none" class="terms-view--button" data-terms-code="060005">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">약관 상세보기</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><span class="dg-sp-tag">grow-y</span></div><div class="dg-sp-cell" data-dg-variant="grow-y" data-dg-state="disabled"><div class="form-box js-form-box grow-y js-checked--handle">
								<div class="flex-column gap-16">
									
									<div class="column__head agree-head">
										<label class="input-type--check flex-row">
											<input id="check_all" type="checkbox" class="js-all-check"><span>전체 동의하기</span>
										</label>
									</div>

									
									<div class="form-box js-form-box justify-spacing-def">
										<div class="flex-column gap-12">

											
											<div id="bpp_clause_box" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="bpp_clause" type="checkbox">
														<span>(필수) 비플페이 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="bpp_agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line" disabled>
															<a href="#none" class="terms-view--button" data-terms-code="060001">
																<span>서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060016">
																<span>개인정보 수집 및 이용동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060002">
																<span>개인정보 제 3자 제공동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060004">
																<span>통합 전자금융거래 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div id="agree_form_div" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="cert_clause" type="checkbox">
														<span>(필수) 본인 인증 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060011">
																<span>통신사 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060012">
																<span>본인확인 서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060013">
																<span>개인정보 수집 · 이용 · 취급 · 위탁 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060014">
																<span>고유식별정보 처리 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													
													<div id="agree_plus" class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="999999">
																<span>알뜰폰 개인정보 제3자 제공 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div class="form__item-wrap flex-column">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="agree-chk3" type="checkbox">
														<span>(선택) 마케팅 정보 수신 동의</span>
													</label>
													<a href="#none" class="terms-view--button" data-terms-code="060005">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">약관 상세보기</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><span class="dg-sp-tag">grow-y · 비활성</span></div><div class="dg-sp-cell" data-dg-variant="justify-spacing-def" data-dg-state="default"><div class="form-box js-form-box justify-spacing-def">
										<div class="flex-column gap-12">

											
											<div id="bpp_clause_box" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="bpp_clause" type="checkbox">
														<span>(필수) 비플페이 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="bpp_agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060001">
																<span>서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060016">
																<span>개인정보 수집 및 이용동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060002">
																<span>개인정보 제 3자 제공동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060004">
																<span>통합 전자금융거래 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div id="agree_form_div" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="cert_clause" type="checkbox">
														<span>(필수) 본인 인증 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060011">
																<span>통신사 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060012">
																<span>본인확인 서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060013">
																<span>개인정보 수집 · 이용 · 취급 · 위탁 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060014">
																<span>고유식별정보 처리 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													
													<div id="agree_plus" class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="999999">
																<span>알뜰폰 개인정보 제3자 제공 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div class="form__item-wrap flex-column">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="agree-chk3" type="checkbox">
														<span>(선택) 마케팅 정보 수신 동의</span>
													</label>
													<a href="#none" class="terms-view--button" data-terms-code="060005">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">약관 상세보기</span>
													</a>
												</div>
											</div>
										</div>
									</div><span class="dg-sp-tag">justify-spacing-def</span></div><div class="dg-sp-cell" data-dg-variant="justify-spacing-def" data-dg-state="disabled"><div class="form-box js-form-box justify-spacing-def">
										<div class="flex-column gap-12">

											
											<div id="bpp_clause_box" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="bpp_clause" type="checkbox">
														<span>(필수) 비플페이 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="bpp_agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line" disabled>
															<a href="#none" class="terms-view--button" data-terms-code="060001">
																<span>서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060016">
																<span>개인정보 수집 및 이용동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060002">
																<span>개인정보 제 3자 제공동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060004">
																<span>통합 전자금융거래 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div id="agree_form_div" class="form__item-wrap flex-column drop-box js-drop-box open">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="cert_clause" type="checkbox">
														<span>(필수) 본인 인증 필수항목 모두 동의</span>
													</label>
													<button type="button" class="drop-trigger js-drop-trigger">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">세부 약관 열기</span>
													</button>
												</div>

												
												<div id="agree_div" class="drop-content js-drop-content">
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060011">
																<span>통신사 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060012">
																<span>본인확인 서비스 이용약관</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060013">
																<span>개인정보 수집 · 이용 · 취급 · 위탁 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													<div class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="060014">
																<span>고유식별정보 처리 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
													
													<div id="agree_plus" class="input-type--check">
														<label class="grow-y flex-row">
															<input type="checkbox" class="checkbox--line">
															<a href="#none" class="terms-view--button" data-terms-code="999999">
																<span>알뜰폰 개인정보 제3자 제공 동의</span>
																<i class="icon icon--arrow-16"></i>
																<span class="blind">약관 상세보기</span>
															</a>
														</label>
													</div>
												</div>
											</div>

											
											<div class="form__item-wrap flex-column">
												<div class="input-type--check">
													<label class="grow-y flex-row">
														<input id="agree-chk3" type="checkbox">
														<span>(선택) 마케팅 정보 수신 동의</span>
													</label>
													<a href="#none" class="terms-view--button" data-terms-code="060005">
														<i class="icon icon--arrow-16"></i>
														<span class="blind">약관 상세보기</span>
													</a>
												</div>
											</div>
										</div>
									</div><span class="dg-sp-tag">justify-spacing-def · 비활성</span></div><div class="dg-sp-cell" data-dg-variant="----" data-dg-state="default"><div class="form-box js-form-box">
									
									<div id="certify_item" class="form__item js-form-item">
										<div class="form__item-header input-line--header">
											<h3 class="form__label container__headline container__headline--lv1">
												<label>인증번호</label>
											</h3>
										</div>

										<div class="form__item-wrap">
											<div class="input-type--line">
												<input id="certify_no" type="tel" value="" placeholder="6자리 입력" maxlength="6" inputmode="numeric">
												
												<span id="timeCheck" class="shrink-n">05:00</span>
											</div>
										</div>

										
										<div class="flex-row justify-space-b">
											<p class="form__hint info__text--lv1">
												<span id="certify_msg" class="blind">인증번호를 다시 확인해 주세요.</span>
											</p>
											<button type="button" id="re_certify" class="button button-small button--lv5_line"><span>인증번호 재요청</span></button>
										</div>
									</div>
								</div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="----" data-dg-state="disabled"><div class="form-box js-form-box">
									
									<div id="certify_item" class="form__item js-form-item">
										<div class="form__item-header input-line--header">
											<h3 class="form__label container__headline container__headline--lv1">
												<label>인증번호</label>
											</h3>
										</div>

										<div class="form__item-wrap">
											<div class="input-type--line">
												<input id="certify_no" type="tel" value="" placeholder="6자리 입력" maxlength="6" inputmode="numeric">
												
												<span id="timeCheck" class="shrink-n">05:00</span>
											</div>
										</div>

										
										<div class="flex-row justify-space-b">
											<p class="form__hint info__text--lv1">
												<span id="certify_msg" class="blind">인증번호를 다시 확인해 주세요.</span>
											</p>
											<button type="button" id="re_certify" class="button button-small button--lv5_line dis"><span>인증번호 재요청</span></button>
										</div>
									</div>
								</div><span class="dg-sp-tag">(기본) · 비활성</span></div><div class="dg-sp-cell" data-dg-variant="scroll-box" data-dg-state="default"><div class="form-box js-form-box scroll-box">
					<div class="scroll-box--view">
						<ul class="bank-select__list" id="bank_only">

							<li class="bank-select__item">
								<a href="#none" class="button a_bank_list js-popup-close" role="button"
								   bank_cd=""
								   bank_nm="국민은행">
									<img src="../assets/image/bank/ico_bank_kb.png" alt=""
									    >
									<span>국민은행</span>
								</a>
							</li>

						</ul>
					</div>
				</div><span class="dg-sp-tag">scroll-box</span></div><div class="dg-sp-cell" data-dg-variant="scroll-box" data-dg-state="disabled"><div class="form-box js-form-box scroll-box">
					<div class="scroll-box--view">
						<ul class="bank-select__list" id="bank_only">

							<li class="bank-select__item">
								<a href="#none" class="button a_bank_list js-popup-close dis" role="button"
								   bank_cd=""
								   bank_nm="국민은행">
									<img src="../assets/image/bank/ico_bank_kb.png" alt=""
									    >
									<span>국민은행</span>
								</a>
							</li>

						</ul>
					</div>
				</div><span class="dg-sp-tag">scroll-box · 비활성</span></div></div>
