<div class="dg-body"><div class="wrap">
		<!-- container -->
		<div class="container">
			<!-- content -->
			<div class="content">
				<div class="br_gift_rn add_flex_column addBtn-pb58 addNav">
					<div class="product"><!-- 하단 네비영역 제거 시 addNav 삭제 -->
						<!-- 상품 이미지박스 -->
						<div class="img_bx"><img src="" alt=""></div>
						<!-- 브랜드 명, 상품명, 가격, 공유하기 -->
						<div class="info_bx label_special"><!-- 특가상품의 경우 label_special 추가 -->
							<!-- 브랜드 명 -->
							<p class="brand">
								비플머니
								
									<span class="label">특가상품</span>
								
							</p>
							<!-- 상품 명 -->
							<p class="name">비플머니</p>
							<!-- 가격정보 -->
							<p class="price">
							
							
								<span class="discount">%</span>
								<strong>4,500<span class="won">원</span></strong>
								<span class="price_original">4,500원</span>
							
								<strong>4,500<span class="won">원</span></strong>
							
							</p>
						</div>
						<!-- 2023-03-27 -->
						<!-- 기본정보, 안내사항 -->
						<div class="detail_info_bx">
							<div class="tab_menu">
								<a href="#none" class="on"><span>기본정보</span></a>
								<a href="#none"><span>안내사항</span></a>
							</div>
							<div class="tab_wrap">
								<!-- 기본정보 -->
								<div class="def_info on">
									<dl>
										<dt>상품권 소개</dt>
										<dd></dd>
									</dl>
									<dl>
										<dt>상품권 종류</dt>
										<dd>비플머니</dd>
									</dl>
									<dl>
										<dt>사용 유효기간</dt>
										<dd>구매일로부터 일</dd>
									</dl>
									<dl>
										<dt>사용가능 매장</dt>
										<dd>
											<ul>
												<li></li>
											</ul>
										</dd>
									</dl>
								</div>
								<!-- 안내사항 -->
								<div class="noti">
									<dl>
										<dt>유의사항</dt>
										<dd>
											
										</dd>
									</dl>
									<div class="toggle_wrap">
										<p class="trigger"><a>상품 필수 표기 정보</a></p>
										<div class="toggle_con">
											<div class="inner">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //2023-03-27 -->
						<!-- 이런상품 어때요? - 추천상품 -->
						
						<div class="product_push">
							<h2>이런 상품권 어때요</h2>
							<!-- 상품리스트 -->
							<div class="item_list">
								
								
									<div class="push_item" code="" bgc="">
										<p class="img"><img src="" alt=""></p>
										<p class="brand" title="비플머니">비플머니</p>
										<p class="name" title="비플머니">비플머니</p>
										<p class="price">
										
											<span class="discount">%</span>
										
											<strong>4,500<span class="won">원</span></strong>
										</p>
									</div>
									
									</div>
								</div>
								
					</div>
					
					<!-- 2024-11-08 -> 브랜드 하단 사업자 고지 -->
					<div class="brand-footer bg_f9"><!-- 상품권 상세의 경우 bg_f9 추가 -->
						<div class="d_flex-column">
							<div class="brand-footer--text">상호: 비즈플레이㈜</div>
							<div class="brand-footer--text">대표이사: 석창규</div>
							<div class="brand-footer--text">주소: 서울시 영등포구 영신로 220 KnK디지털타워 12층</div>
							<div class="brand-footer--text"><span>사업자등록번호: 107-88-36127</span><i>|</i><a id="buss_info" class="fc-666">사업자정보 확인<i class="icon arr_right-16"></i></a></div>
							<div class="brand-footer--text">통신판매신고번호: 2015-서울영등포-0113호</div>
							<div class="brand-footer--text">고객센터: 1670-0136</div>
							<div class="brand-footer--text">이메일: <a href="bpay@bizplay.co.kr" target="_blank">bpay@bizplay.co.kr</a></div>
							<div class="brand-footer--text">
								비즈플레이㈜는 통신판매중개자이며, 통신판매의
								당사자가 아닙니다. 상품, 상품정보, 거래에 관한 의무와
								책임은 판매자에게 있습니다.
							</div>
						</div>
					</div>
					<!-- // 2024-11-08-->	
										
				</div>
			</div>
			<!-- // content -->
			<!-- 하단 고정버튼 -->
			<div id="btn_dim" class="btn_botFix_w brand_rn_btn">
				<!-- 메인 버튼 -->
				
					<div class="inner half bg_white">
						<a id="gift_btn" class="typeB round_r8 btn-style-h48">선물하기</a>
						<a id="buy_btn" class="typeA round_r8 btn-style-h48 on">구매하기</a>
					</div>
				
					<div class="inner bg_white">
						<a id="buy_btn" class="btn_default round_r8 btn-style-h48 on">구매하기</a>
					</div>
				
					<div class="inner bg_white">
						<a class="btn_default round_r8 btn-style-h48">소진 완료</a>
					</div>
				
			</div>
		</div>
	</div></div>
