<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="header"><header class="header popup-container__header">
				<div class="header__title-wrap">
					<h1 class="page-name">
						<span class="ellipsis-line--1">약관상세</span>
					</h1>
				</div>
				<nav class="header__navi">
					<a id="btn_close_clause" href="#none" class="header__btn btn-close js-popup-close">
						<span class="blind">페이지 닫기</span>
					</a>
				</nav>
			</header><span class="dg-sp-tag">header</span></div><div class="dg-sp-cell" data-dg-variant="----"><header class="popup-container__header">
			<h3 class="container__headline container__headline--lv4" id="setAcctTitle"></h3>
			<div class="popup-button">
				<button type="button" class="popup-button--close js-popup-close" role="button" aria-label="팝업 창 닫기 버튼">
					<i class="icon icon--close-32">팝업 창 닫기</i>
				</button>
			</div>
		</header><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="header-position-sticky"><header class="header popup-container__header position-sticky">
			<div class="header__title-wrap">
				<h1 class="page-name">
					<span class="ellipsis-line--1">약관상세</span>
				</h1>
			</div>
			<nav class="header__navi">
				<a href="#none" class="header__btn btn-close js-popup-close">
					<span class="blind">페이지 닫기</span>
				</a>
			</nav>
		</header><span class="dg-sp-tag">header position-sticky</span></div></div>
