<div class="dg-body"><article class="container__body">
						
						<div class="body__content transfer__infomation flex-column">
							<div class="column__head" data-id="content-1">
								<h5 class="container__headline container__headline--lv4 fw-600">이용안내</h5>
							</div>

							<div class="column__item">
								<div class="infomation-content">
									<dl>
										<dt class="content-title">비플머니 이용안내</dt>
										<dd class="content-detail">
											<p>
												비플머니는 간편하게 미리 충전한 후,
												<span class="fw-500">전국 제로페이 가맹점 어디서나 사용</span>할 수 있는
												결제 서비스입니다.
										</p>
										</dd>
									</dl>
									<dl>
										<dt class="content-title">사용 유효기간</dt>
										<dd class="content-detail">
											<p>
												지급된 비플머니는 지급일로부터, 충전된
												비플머니는 충전일로부터 각각
												<strong class="fw-600">5년(60개월) 동안 유효합니다.</strong>
											</p>
										</dd>
									</dl>
									<dl>
										<dt class="content-title">보유 한도</dt>
										<dd class="content-detail">
											<p>
												최대 보유 한도 : <strong class="fw-600">2,000,000</strong>원
											</p>
										</dd>
									</dl>
								</div>
							</div>
						</div>

						<hr class="divide divide-h1 mgt40 mgb40">

						
						<div class="body__content transfer__infomation flex-column">
							<div class="column__head" data-id="content-2">
								<h5 class="container__headline container__headline--lv4 fw-600">출금 안내</h5>
							</div>

							<div class="column__item">
								<div class="infomation-content">
									<dl>
										<dt class="content-title">출금 한도</dt>
										<dd class="content-detail">
											<ul class="list-bullet">
												<li>최소 출금 금액 : 1,000원</li>
												<li>출금 단위 : 1원 단위 출금 가능</li>
											</ul>
										</dd>
									</dl>
									<dl>
										<dt class="content-title">출금 조건</dt>
										<dd class="content-detail">
											<ul class="list-bullet">
												<li>
													계좌로 충전한 비플머니만 출금할 수 있으며, <br>
													지급된 비플머니는 출금할 수 없습니다.
												</li>
												<li>출금은 비플페이에 등록된 본인 명의의 계좌로만 가능합니다.</li>
												<li>출금 신청한 금액은 선택한 계좌로 다음 영업일에 입금됩니다.</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
						</div>

						<hr class="divide divide-h1 mgt40 mgb40">

						
						<div class="body__content transfer__infomation flex-column">
							<div class="column__head" data-id="content-3">
								<h5 class="container__headline container__headline--lv4 fw-600">충전 안내</h5>
							</div>

							<div class="column__item">
								<div class="infomation-content">
									<dl>
										<dt class="content-title">충전 한도</dt>
										<dd class="content-detail">
											<ul class="list-bullet">
												<li>최소 충전 금액 : 10,000원</li>
												<li>1회 충전 한도 : 300,000원</li>
												<li>1일 충전 한도 : 3,000,000원</li>
												<li>월별 충전 한도 : 10,000,000원</li>
											</ul>
										</dd>
									</dl>
									<dl>
										<dt class="content-title">충전 계좌</dt>
										<dd class="content-detail">
											<ul class="list-bullet">
												<li>충전 계좌는 비플페이 &gt; 더보기 &gt; 설정 &gt; 계좌 관리에 등록된 계좌로만 이용 가능합니다.</li>
												<li>비플머니 충전 계좌를 변경하려면 주계좌를 변경해 주세요.</li>
												<li>
													충전가능 금융기관 :<br>
													SC제일 , 토스뱅크, 저축은행중앙회, 산림조합중앙회 및 증권사 제외한 모든 은행
												</li>
												<li>은행 공통 점검시간(23:50~00:11) 및 각 은행별 점검 시간에는 충전 이용이 제한될 수 있습니다.</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</article></div>
