<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="agree-head"><div class="column__head agree-head">
										<label class="input-type--check flex-row">
											<input id="check_all" type="checkbox" class="js-all-check"><span>전체 동의하기</span>
										</label>
									</div><span class="dg-sp-tag">agree-head</span></div><div class="dg-sp-cell" data-dg-variant="----"><div class="column__head">
									<i class="icon icon--info-16"><span class="blind">안내</span></i>
									<h5 class="container__headline container__headline--lv1">서비스 제공 주체 안내</h5>
								</div><span class="dg-sp-tag">(기본)</span></div></div>
