<div class="dg-body"><div class="wrap bg_f7">
 		<div class="header floating-back-header floating-sticky"> 			
 			<a data-element-id="HIT-ACCT-10-10-S-e03" class="btn-history-back move_back type2" role="button">상위메뉴로 이동</a>
 			<h1>계좌 관리</h1> 			 		
 		</div>
		
 		<div class="container">
 			<div class="content">
	 			<div class="account_select addBtn-pb58" id="no_account" style="display: none;">
	 				<p class="txt_bold">제로페이 결제와 상품권 구매를 위한<br>계좌 정보를 관리합니다.</p>
				
					
					<p class="acc_none">등록된 계좌가 없습니다.</p>
					
					
					<div class="acc_use_info_bx">
						<h2 class="info_tit">계좌 사용 안내</h2>
						<ul class="list_bl">
							<li>모바일상품권 구매 가능 기관 : <strong>씨티, 토스뱅크, 카카오뱅크, 산림조합, 저축은행 제외</strong>한 모든 은행</li>
							
							<li>브랜드상품권 구매 가능 기관 : 모든 은행 및 증권사</li>
							
							<li>계좌 결제 가능 기관 : <strong>씨티, 토스뱅크, 카카오뱅크, 산림조합, 저축은행 제외</strong>한 모든 은행</li>
							
							<li>비플머니 충전 가능 기관 : 모든 은행 및 증권사</li>
						</ul>
					</div>
						
					
					<div class="btn_botFix_w">
						<div class="inner">
							<a href="#none" id="account_register" class="btn-skyBlue btn-style-h46 round_r8 on">
								<span>계좌 등록</span>
							</a>
						</div>
					</div>
					
	 			</div>
	 			<div class="account_select addBtn-pb58" id="hava_account">
	 				<p class="txt_bold">제로페이 결제와 상품권 구매를 위한<br>계좌 정보를 관리합니다.</p>
					
					<h2 class="acc_list_tit">님의 등록계좌</h2>
					<ul class="acc_list" id="bank_list"><li aria-checked="false" aria-label="국민은행,1234-56-789012" bank_cd="004">	<div class="inner">	<input type="hidden" name="sel_acct" id="lrh-1" value="1" bank_cd="004" acct_no="1234-56-789012" />	<p class="ico">	<img src="../assets/image/bank/ico_account_004.png" alt="국민은행 ">   </p><div class="con_w"><p class="name">국민은행(1234-56-789012)</p>   <p class="fcRed">계좌를 삭제 후 재등록해주세요</p></div>   <p class="acc_set_btn"><a href="\#none" ><img src="../assets/resource/images/ico_acc_set_btn.png" alt="계좌설정"></a></p>	</div></li></ul>
					
					
					<div class="acc_use_info_bx">
						<h2 class="info_tit">계좌 사용 안내</h2>
						<ul class="list_bl">
							<li>모바일상품권 구매 가능 기관 : <strong>씨티, 토스뱅크, 산림조합, 저축은행  및  증권사  제외</strong>한 모든 은행</li>
							
							<li>브랜드상품권 구매 가능 기관 : 모든 은행 및 증권사</li>
							
							<li>계좌 결제 가능 기관 : <strong>씨티, 토스뱅크, 카카오뱅크, 산림조합, 저축은행  및  증권사  제외</strong>한 모든 은행</li>
							
							<li>비플머니 충전 가능 기관 : 모든 은행 및 증권사</li>
						</ul>
					</div>
						
					
					<div class="btn_botFix_w">
						<div class="inner">
							<a data-element-id="HIT-ACCT-10-10-S-e04" href="#none" id="acct_add" class="btn-skyBlue btn-style-h46 round_r8 on">
								<span>계좌 추가</span>
							</a>
						</div>
					</div>
					
	 			</div>
 			</div>
 		</div>
 	</div></div>
