<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div class="bp-main"><table class="data-table mb40">
                            
                            <colgroup>
                                <col width="150px">
                                <col width="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="ta-left vam">가맹점명</th>
                                <td class="ta-left">
                                    <p class="txt-01">비플카페 역삼점</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점주명</th>
                                <td class="ta-left">
                                    <p class="txt-01">홍길동</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점주 휴대폰번호</th>
                                <td class="ta-left">
                                    <p class="txt-01">010-1234-5678</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점 주소</th>
                                <td class="ta-left">
                                    <p class="txt-01">
                                        (1234) <br>
                                        서울 강남구 테헤란로 1길 10 <br>
                                        101동 1001호
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점 대표번호</th>
                                <td class="ta-left">
                                    <p class="txt-01">02-1234-5678</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">업종 분류</th>
                                <td class="ta-left">
                                    <p class="txt-01">일반음식점</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점 추가정보</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table></div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="form-table-pd-table"><div class="bp-main"><div class="data-table-wrap"><table class="data-table form-table pd-table" id="table">
                                
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 135px;">
                                    <col style="width: 90px;">
                                    <col style="width: 135px;">
                                    <col style="width: 350px;">
                                    <col style="width: 120px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="ta-center">제공일자</div></th>
                                    <th scope="col"><div class="ta-center">제공형태</div></th>
                                    <th scope="col"><div class="ta-center">식사형태</div></th>
                                    <th scope="col"><div class="ta-center">메뉴분류명</div></th>
                                    <th scope="col"><div class="ta-center">메뉴명</div></th>
                                    <th scope="col"><div class="ta-center">금액</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                <tr>
                                    <td class="button" colspan="6">
                                        <div>
                                            <a href="#none">
                                                <table>
                                                    <colgroup>
                                                        <col style="width: 150px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 90px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 330px;">
                                                        <col style="width: 120px;">
                                                    </colgroup>
                                                    <tbody>
                                                    <tr>
                                                        <td hidden><div></div></td>
                                                        <td hidden><div></div></td>
                                                        <td><div>2026.10.02 14:30</div></td>
                                                        <td><div class="tx-ellipsis">중식</div></td>
                                                        <td><div>중식</div></td>
                                                        <td><div class="tx-ellipsis">커피</div></td>
                                                        <td><div class="tx-ellipsis">아메리카노 T</div></td>
                                                        <td><div class="ta-right">15,000원</div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </a>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td class="button" colspan="6">
                                        <div>
                                            <a href="#none">
                                                <table>
                                                    <colgroup>
                                                        <col style="width: 150px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 90px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 330px;">
                                                        <col style="width: 120px;">
                                                    </colgroup>
                                                    <tbody>
                                                    <tr>
                                                        <td hidden><div></div></td>
                                                        <td hidden><div></div></td>
                                                        <td><div>2026.10.02 14:30</div></td>
                                                        <td><div class="tx-ellipsis">중식</div></td>
                                                        <td><div>중식</div></td>
                                                        <td><div class="tx-ellipsis">커피</div></td>
                                                        <td><div class="tx-ellipsis">아메리카노 T</div></td>
                                                        <td><div class="ta-right">15,000원</div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </a>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td class="button" colspan="6">
                                        <div>
                                            <a href="#none">
                                                <table>
                                                    <colgroup>
                                                        <col style="width: 150px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 90px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 330px;">
                                                        <col style="width: 120px;">
                                                    </colgroup>
                                                    <tbody>
                                                    <tr>
                                                        <td hidden><div></div></td>
                                                        <td hidden><div></div></td>
                                                        <td><div>2026.10.02 14:30</div></td>
                                                        <td><div class="tx-ellipsis">중식</div></td>
                                                        <td><div>중식</div></td>
                                                        <td><div class="tx-ellipsis">커피</div></td>
                                                        <td><div class="tx-ellipsis">아메리카노 T</div></td>
                                                        <td><div class="ta-right">15,000원</div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </a>
                                        </div>
                                    </td>
                                </tr><tr style="display: none;">
                                    <td class="button" colspan="6">
                                        <div>
                                            <a href="#none">
                                                <table>
                                                    <colgroup>
                                                        <col style="width: 150px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 90px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 330px;">
                                                        <col style="width: 120px;">
                                                    </colgroup>
                                                    <tbody>
                                                    <tr>
                                                        <td id="MENU_SEQ" hidden><div></div></td>
                                                        <td id="MENU_IMG_SEQ" hidden><div></div></td>
                                                        <td id="MENU_PRVD_DT"><div></div></td>
                                                        <td id="PRVD_TP_NM"><div class="tx-ellipsis"></div></td>
                                                        <td id="MEAL_TP"><div></div></td>
                                                        <td id="MENU_DV_NM"><div class="tx-ellipsis"></div></td>
                                                        <td id="REPR_MENU_NM"><div class="tx-ellipsis"></div></td>
                                                        <td id="MENU_AMT"><div class="ta-right"></div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table></div></div><span class="dg-sp-tag">form-table pd-table</span></div><div class="dg-sp-cell" data-dg-variant="no-bd-left"><div class="active"><div class="inner"><table class="data-table no-bd-left ">
                    <colgroup>
                        <col style="width: 96px;">
                        <col style="width: 310px;">
                        <col style="width: 112px;">
                        <col style="width: 310px;">
                    </colgroup>
                    <tbody>
                    
                    <tr>
                        <td colspan="4" class="p0">
                            
                            <div>
                                <table class="w100p">
                                    <colgroup>
                                        <col style="width: 96px;">
                                        <col style="width: 310px;">
                                        <col style="width: 112px;">
                                        <col style="width: 310px;">
                                    </colgroup>
                                    <tbody>
                                    <tr class="p0">
                                        <th class="required"><div>제공형태</div></th>
                                        <td>
                                            <div>
                                                
                                                <div class="td-item w290 drop-box">
                                                    
                                                    <p class="placeholder" id="add_phd">
                                                        <button type="button" class="trigger drop-btn" id="ADD_PRVD_TP" value="X"><span>선택해주세요.</span></button>
                                                    </p>
                                                    
                                                    <div class="drop-content">
                                                        <p class="drop-item" name="add_prvd_tp">
                                                            <button type="button" id="prvd_tp_C" value="C" class="drop-btn">매장식사</button>
                                                        </p>
                                                        <p class="drop-item" name="add_prvd_tp">
                                                            <button type="button" id="prvd_tp_D" value="D" class="drop-btn">딜리버리/픽업</button>
                                                        </p>
                                                        <p class="drop-item" name="add_prvd_tp">
                                                            <button type="button" id="prvd_tp_R" value="R" class="drop-btn">사전예약</button>
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <th class="required" name="gubun_a" style="display: none;">
                                            <div>날짜선택</div>
                                        </th>
                                        <td name="gubun_a" style="display: none;">
                                            <div>
                                                <div class="ip-wrap with-icon ta-left td-item">
                                                    <input data-toggle="datepicker" name="" id="ADD_DATE" class="ip-txt" type="text" value="" placeholder="날짜선택" autocomplete="off" style="background-color: #ffffff; color: #000000" readonly>
                                                    <i class="ic ic-calendar"></i>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                    
                    <tr style="display: none;"  name="gubun_b">
                        <th class="required"><div>식사형태</div></th>
                        <td colspan="3">
                            <div>
                                <div class="ip-ch-group flex-row">
                                    <label class="ip-ch-label">
                                        <input name="ch-1" id="ADD_BRUNCH" class="ip-ch" type="checkbox" value="">
                                        <span class="check"></span> 조식
                                    </label>
                                    <label class="ip-ch-label ml40">
                                        <input name="ch-1" id="ADD_LUNCH" class="ip-ch" type="checkbox" value="">
                                        
                                        <span class="check"></span> 중식
                                    </label>
                                    
                                </div>
                                <p class="fs-12 fc-666 mt5">*매점 그랩앤고 메뉴의 경우 중식으로 선택하여 주시기 바랍니다.</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr style="display: none;"  name="gubun_a">
                        <th class="vat"><div>금액숨김여부</div></th>
                        <td colspan="3">
                            <div>
                                <div class="ip-ch-group flex-row">
                                    <label class="ip-ch-label">
                                        <input name="ch-1" id="HIDE_AMT" class="ip-ch" type="checkbox" value="">
                                        <span class="check"></span> 금액숨김
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table></div></div><span class="dg-sp-tag">no-bd-left</span></div><div class="dg-sp-cell" data-dg-variant="form-table-no-bd"><div class="inner"><table class="data-table form-table no-bd">
          <colgroup>
            <col width="110px">
            <col width="">
          </colgroup>
          <tbody>
            <tr>
              <th class="required ta-left pl0"><div>제공형태</div></th>
              <td class="ta-right pr0">
                <div class="td-item w290 drop-box" id="dv_reg_prvd_drop" style="display:none;">
                  <p class="placeholder" id="dv_reg_prvd_phd">
                    <button type="button" class="trigger drop-btn" id="DV_REG_PRVD_TP" value="">선택해주세요.</button>
                  </p>
                  <div class="drop-content">
                    <p class="drop-item">
                      <button type="button" class="drop-btn" value="C">매장식사</button>
                    </p>
                    <p class="drop-item">
                      <button type="button" class="drop-btn" value="D">딜리버리/픽업</button>
                    </p>
                    <p class="drop-item">
                      <button type="button" class="drop-btn" value="R">사전예약</button>
                    </p>
                  </div>
                </div>
                
                <div class="td-item ta-left" id="dv_reg_prvd_text" style="display: none"></div>
              </td>
            </tr>
            <tr>
              <th class="required ta-left pl0"><div>메뉴분류명</div></th>
              <td class="ta-right pr0">
                <input maxlength="50" id="DV_REG_NM" class="ip-txt w100p" type="text" value="" placeholder="메뉴분류명을 입력해 주세요">
                
                <div class="td-item ta-left" id="dv_reg_nm_text" style="display: none"></div>
              </td>
            </tr>
            <tr>
              <th class="ta-left pl0"><div>메뉴사진</div></th>
              <td class="ta-right pr0">
                <div class="image_write-box mb2" id="dv_reg_tot_img">
                  <div class="image w132 empty" id="dv_reg_img">
                    <img id="dv_reg_preview_img" alt="이미지 영역" src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgba(0,0,0,0)' x='0' y='0' width='100%' height='100%'/></svg>">
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-sm btn-gray-outline" type="button" id="btn-dv-reg-img">첨부하기</button>
                    <button class="btn btn-sm btn-gray-outline" type="button" id="btn-dv-reg-img-delete" style="display: none">기본이미지로 변경</button>
                    <input type="file" id="dv_reg_img_upload" accept="image/*" hidden>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th class="required ta-left pl0"><div>사용여부</div></th>
              <td class="ta-right pr0">
                <div class="td-item w120 drop-box" id="dv_reg_use_drop">
                  <p id="dv_reg_use_phd">
                    <button type="button" class="trigger drop-btn" id="DV_REG_USE_YN" value="Y">사용</button>
                  </p>
                  <div class="drop-content">
                    <p class="drop-item select">
                      <button type="button" class="drop-btn" value="Y">사용</button>
                    </p>
                    <p class="drop-item">
                      <button type="button" class="drop-btn" value="N">미사용</button>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table></div><span class="dg-sp-tag">form-table no-bd</span></div><div class="dg-sp-cell" data-dg-variant="form-table"><div class="inner"><table class="data-table form-table mt8">
                <colgroup>
                    <col style="width: 105px">
                    <col style="width: auto;">
                </colgroup>
                <tbody>
                <tr>
                    <th class="ta-left">주문일시</th>
                    <td class="ta-left" id="odr_tm">14:22</td>
                </tr>
                <tr>
                    <th class="ta-left">주문번호</th>
                    <td class="ta-left" id="odr_deal_no">T2026100200001</td>
                </tr>
                <tr>
                    <th class="ta-left">주문금액</th>
                    <td class="ta-left" id="odr_menu_amt"><span>15,000</span>원</td>
                </tr>
                <tr>
                    <th class="ta-left">주문상태</th>
                    <td class="ta-left">
                        <span id="odr_status" class="">접수 완료</span>
                        <button class="btn btn-sm btn-primary-outline va-0 ml8" type="button" style="display: none;" id="btn_cancel">주문취소</button>
                    </td>
                </tr>
                <tr name="cancel" style="display: none">
                    <th class="ta-left">주문취소일시</th>
                    <td class="ta-left" id="odr_cancel_tm">14:22</td>
                </tr>
                <tr>
                    <th class="ta-left">주문자명</th>
                    <td class="ta-left" id="odr_nm">홍길동</td>
                </tr>
                <tr>
                    <th class="ta-left">사원번호</th>
                    <td class="ta-left" id="odr_empl_no">1</td>
                </tr>
                <tr>
                    <th class="ta-left">휴대폰번호</th>
                    <td class="ta-left" id="odr_mob_no">1</td>
                </tr>
                <tr hidden>
                    <th class="ta-left">마감시간</th>
                    <td class="ta-left" id="dead_line">2026.10.31</td>
                </tr>
                </tbody>
            </table></div><span class="dg-sp-tag">form-table</span></div><div class="dg-sp-cell" data-dg-variant="form-table-no-bdb"><div class="bp-root"><div class="bp-main"><div class="data-table-wrap"><table id="table" class="data-table form-table no-bdb">
                        
                        <colgroup>
                          <col style="width: 120px;">
                          <col style="width: 150px;">
                          <col style="width: 120px;">
                          <col style="width: 70px;">
                          <col style="width: 120px;">
                          <col style="width: 120px;">
                          
                          <col style="width: 70px;"> 
                        </colgroup>
                        <thead>
                          <tr>
	                          <th class="ta-center" scope="col">요청일시</th>
	                          <th class="ta-center" scope="col">신청건명</th>
	                          <th class="ta-center" scope="col">행사일시</th>
	                          <th class="ta-center" scope="col">참석인원</th>
	                          <th class="ta-center" scope="col">신청자 정보</th>
	                          <th class="ta-center" scope="col">사업장</th>
	                          
	                          <th class="ta-center" scope="col">상태<a class="ic ic-exc-22 ml2 vab-6"></a></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="no-data">
                            <td colspan="7">
                              
                              <div class="no-data no-bd h350">
                                <div class="box">
                                  <i class="ic ic-exc-40"></i>
                                  <p>신청내역이 없습니다.</p>
                                </div>
                              </div>
                              
                            </td>
                          </tr>
                        </tfoot>
                        <tbody id="listArea">
                          <tr style="display:none;"> 
                          	<input type="hidden" id="FRSH_BRK_SEQ" name="FRSH_BRK_SEQ" value="">
                            <td class="ta-center" id="REG_DTTM"></td>
                            <td class="ta-center tx-ellipsis" id="FRSH_BRK_TITLE"></td>
                            <td class="ta-center" id="TRX_DTTM"></td>
                            <td class="ta-center" id="MEMB_CNT"></td>
                            <td class="ta-center" id="MEMB_INFO"></td>
                            <td class="ta-center" id="SITE_NM" title=""></td>
                            
                            <td class="ta-center" id="PROC_ST"></td>
                          </tr>
                        </tbody>
                      </table></div></div></div><span class="dg-sp-tag">form-table no-bdb</span></div><div class="dg-sp-cell" data-dg-variant="type-auto-no-active"><div class="bp-main"><div class="data-table-wrap"><table class="data-table type-auto no-active mt15">
                                        
                                        <colgroup>
                                            <col style="width: 125px;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody>
                                        
                                        <tr>
                                            <th class="vam">
                                                <div class="ta-left">매장식사(조식)</div>
                                            </th>
                                            <td class="ta-left">
                                                <div>09:00 ~ 09:30</div>
                                            </td>
                                        </tr>
                                        

                                        
                                        <tr>
                                            <th class="vam">
                                                <div class="ta-left">매장식사(중식)</div>
                                            </th>
                                            <td class="ta-left">
                                                <div>09:00 ~ 09:30</div>
                                            </td>
                                        </tr>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        </tbody>
                                    </table></div></div><span class="dg-sp-tag">type-auto no-active</span></div><div class="dg-sp-cell" data-dg-variant="no-active-form-table-pd-table"><div class="bp-main"><div class="row"><div class="row"><div class="data-table-wrap"><table class="data-table no-active form-table mt15 pd-table">
                                    
                                    <colgroup>
                                        <col style="width: 125px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    
                                    <tr>
                                        <th class="vam">
                                            <div class="ta-left">매장식사(조식)</div>
                                        </th>
                                        <td class="ta-left">
                                            <div class="td-item-group left">
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_str_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_str_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">~</span>
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_end_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_end_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    

                                    
                                    <tr>
                                        <th class="vam">
                                            <div class="ta-left">매장식사(중식)</div>
                                        </th>
                                        <td class="ta-left">
                                            <div class="td-item-group left">
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_str_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_str_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">~</span>
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_end_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_end_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    

                                    </tbody>
                                </table></div></div></div></div><span class="dg-sp-tag">no-active form-table pd-table</span></div></div>
