<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div class="bp-root"><div class="bp-main"><div class="layout"><div class="row"><div class="col"><div class="con-wrap"><div class="page-header">
                            <p class="tit-01 with-desc">
                                가맹점 기본정보
                                <span>
                    비플 직가맹점 신청시 작성한 기본정보를 관리합니다.
                    해당 정보는 간편결제, 가맹점찾기 가맹점 정보에 실시간으로 반영됩니다.
                  </span>
                            </p>
                        </div></div></div></div></div></div></div><span class="dg-sp-tag">(기본)</span></div></div>
