<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="mb40"><div class="bp-main"><table class="data-table mb40">
                            
                            <colgroup>
                                <col width="150px">
                                <col width="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="ta-left vam">가맹점명</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점주명</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점주 휴대폰번호</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점 주소</th>
                                <td class="ta-left">
                                    <p class="txt-01">
                                        () <br>
                                        서울 강남구 테헤란로 1길 10 <br>
                                        101동 1001호
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점 대표번호</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">업종 분류</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="ta-left vam">가맹점 추가정보</th>
                                <td class="ta-left">
                                    <p class="txt-01"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table></div><span class="dg-sp-tag">mb40</span></div><div class="dg-sp-cell" data-dg-variant="form-table-no-bd"><table class="data-table form-table no-bd">
          <colgroup>
            <col width="90px">
            <col width="">
          </colgroup>
          <tbody>
            <tr>
              <th class="ta-left pl0">카테고리명</th>
              <td class="ta-right pr0">
                <input name="" maxlength="20" id="new-catg-name" class="ip-txt w100p" type="text" value="" placeholder="카테고리명을 입력해 주세요">
              </td>
            </tr>
          </tbody>
        </table><span class="dg-sp-tag">form-table no-bd</span></div><div class="dg-sp-cell" data-dg-variant="form-table-pd-table"><div class="bp-main"><div class="data-table-wrap"><table class="data-table form-table pd-table" id="table">
                                
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 135px;">
                                    <col style="width: 90px;">
                                    <col style="width: 135px;">
                                    <col style="width: 350px;">
                                    <col style="width: 120px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="ta-center">제공일자</div></th>
                                    <th scope="col"><div class="ta-center">제공형태</div></th>
                                    <th scope="col"><div class="ta-center">식사형태</div></th>
                                    <th scope="col"><div class="ta-center">메뉴분류명</div></th>
                                    <th scope="col"><div class="ta-center">메뉴명</div></th>
                                    <th scope="col"><div class="ta-center">금액</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                <tr style="display: none;">
                                    <td class="button" colspan="6">
                                        <div>
                                            <a href="#none">
                                                <table>
                                                    <colgroup>
                                                        <col style="width: 150px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 90px;">
                                                        <col style="width: 145px;">
                                                        <col style="width: 330px;">
                                                        <col style="width: 120px;">
                                                    </colgroup>
                                                    <tbody>
                                                    <tr>
                                                        <td id="MENU_SEQ" hidden><div></div></td>
                                                        <td id="MENU_IMG_SEQ" hidden><div></div></td>
                                                        <td id="MENU_PRVD_DT"><div></div></td>
                                                        <td id="PRVD_TP_NM"><div class="tx-ellipsis"></div></td>
                                                        <td id="MEAL_TP"><div></div></td>
                                                        <td id="MENU_DV_NM"><div class="tx-ellipsis"></div></td>
                                                        <td id="REPR_MENU_NM"><div class="tx-ellipsis"></div></td>
                                                        <td id="MENU_AMT"><div class="ta-right"></div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table></div></div><span class="dg-sp-tag">form-table pd-table</span></div><div class="dg-sp-cell" data-dg-variant="form-table"><div class="bp-root"><div class="bp-main"><div class="data-table-wrap"><table class="data-table form-table">
                                
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 135px;">
                                    <col style="width: 90px;">
                                    <col style="width: 135px;">
                                    <col style="width: 400px;">
                                    <col style="width: 120px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="ta-center">제공일자</div></th>
                                    <th scope="col"><div class="ta-center">제공형태</div></th>
                                    <th scope="col"><div class="ta-center">식사형태</div></th>
                                    <th scope="col"><div class="ta-center">메뉴분류명</div></th>
                                    <th scope="col"><div class="ta-center">메뉴명</div></th>
                                    <th scope="col"><div class="ta-center">금액</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="no-data">
                                    <td colspan="6"> 
                                        
                                        <div class="no-data no-bd h443">
                                            <div class="box">
                                                <i class="ic ic-exc-40"></i>
                                                <p>등록된 정보가 없습니다.</p>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                                </tbody>
                            </table></div></div></div><span class="dg-sp-tag">form-table</span></div><div class="dg-sp-cell" data-dg-variant="no-bd-left"><div class="active"><div class="inner"><table class="data-table no-bd-left ">
                    <colgroup>
                        <col style="width: 96px;">
                        <col style="width: 310px;">
                        <col style="width: 112px;">
                        <col style="width: 310px;">
                    </colgroup>
                    <tbody>
                    
                    <tr>
                        <td colspan="4" class="p0">
                            
                            <div>
                                <table class="w100p">
                                    <colgroup>
                                        <col style="width: 96px;">
                                        <col style="width: 310px;">
                                        <col style="width: 112px;">
                                        <col style="width: 310px;">
                                    </colgroup>
                                    <tbody>
                                    <tr class="p0">
                                        <th class="required"><div>제공형태</div></th>
                                        <td>
                                            <div>
                                                
                                                <div class="td-item w290 drop-box">
                                                    
                                                    <p class="placeholder" id="add_phd">
                                                        <button type="button" class="trigger drop-btn" id="ADD_PRVD_TP" value="X"><span>선택해주세요.</span></button>
                                                    </p>
                                                    
                                                    <div class="drop-content">
                                                        <p class="drop-item" name="add_prvd_tp">
                                                            <button type="button" id="prvd_tp_C" value="C" class="drop-btn">매장식사</button>
                                                        </p>
                                                        <p class="drop-item" name="add_prvd_tp">
                                                            <button type="button" id="prvd_tp_D" value="D" class="drop-btn">딜리버리/픽업</button>
                                                        </p>
                                                        <p class="drop-item" name="add_prvd_tp">
                                                            <button type="button" id="prvd_tp_R" value="R" class="drop-btn">사전예약</button>
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <th class="required" name="gubun_a" style="display: none;">
                                            <div>날짜선택</div>
                                        </th>
                                        <td name="gubun_a" style="display: none;">
                                            <div>
                                                <div class="ip-wrap with-icon ta-left td-item">
                                                    <input data-toggle="datepicker" name="" id="ADD_DATE" class="ip-txt" type="text" value="" placeholder="날짜선택" autocomplete="off" style="background-color: #ffffff; color: #000000" readonly>
                                                    <i class="ic ic-calendar"></i>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                    
                    <tr style="display: none;"  name="gubun_b">
                        <th class="required"><div>식사형태</div></th>
                        <td colspan="3">
                            <div>
                                <div class="ip-ch-group flex-row">
                                    <label class="ip-ch-label">
                                        <input name="ch-1" id="ADD_BRUNCH" class="ip-ch" type="checkbox" value="">
                                        <span class="check"></span> 조식
                                    </label>
                                    <label class="ip-ch-label ml40">
                                        <input name="ch-1" id="ADD_LUNCH" class="ip-ch" type="checkbox" value="">
                                        
                                        <span class="check"></span> 중식
                                    </label>
                                    
                                </div>
                                <p class="fs-12 fc-666 mt5">*매점 그랩앤고 메뉴의 경우 중식으로 선택하여 주시기 바랍니다.</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr style="display: none;"  name="gubun_a">
                        <th class="vat"><div>금액숨김여부</div></th>
                        <td colspan="3">
                            <div>
                                <div class="ip-ch-group flex-row">
                                    <label class="ip-ch-label">
                                        <input name="ch-1" id="HIDE_AMT" class="ip-ch" type="checkbox" value="">
                                        <span class="check"></span> 금액숨김
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table></div></div><span class="dg-sp-tag">no-bd-left</span></div><div class="dg-sp-cell" data-dg-variant="no-bd-left-mt12"><div class="inner"><table class="data-table no-bd-left mt12">
                    <colgroup>
                        <col style="width: 96px;">
                        <col style="width: auto;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th class="vat">
                            <div>
                                메뉴사진
                                <span class="fs-12 fc-999 mt5 d-block">(5MB)</span>
                            </div>
                        </th>
                        <td>
                            <div>
                                
                                <div class="image_write-box mb2" id="add_tot_img">
                                    <div class="image w132 empty" id="add_img">
                                        <img id="preview_img" alt="이미지 영역" src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgba(0,0,0,0)' x='0' y='0' width='100%' height='100%'/></svg>">
                                        
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-gray-outline" type="button">첨부하기</button>
                                        <button class="btn btn-sm btn-gray-outline" type="button" id="add_init_img" style="display: none">기본이미지로 변경</button>
                                        <input type="file" id="img_upload" accept="image/*" hidden>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="required">
                            <div>메뉴분류명</div>
                        </th>
                        <td>
                            <div>
                                
                                <div class="td-item drop-box">
                                    
                                    <p class="placeholder">
                                        <button type="button" class="trigger drop-btn" id="ADD_MENU_GUBUN" value="X"><span>선택해주세요.</span></button>
                                    </p>
                                    
                                    <div class="drop-content">
                                        
                                        
                                        
                                        <p class="drop-item" name="order_form_c" hidden>
                                            <button type="button" class="drop-btn" order-form-tp="" prvd-tp="" data-img-path="" data-img-file-nm="비플머니" data-img-file-ext="" name="menu_gubun" id="menu_dv_" value="">비플머니</button>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="required vat">
                            <div>메뉴명(국문)</div>
                        </th>
                        <td>
                            <div>
                                <div class="ip-wrap w100p type-unit style-2">
                                    <input name="" class="ip-txt" type="text" value="" placeholder="메뉴명을 입력해 주세요.(국문)" id="ADD_MENU_NM" maxlength="50">
                                    <p class="unit"><span id="nm_cnt">0</span><span>/50</span></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="vat">
                            <div>메뉴명(영문)</div>
                        </th>
                        <td>
                            <div>
                                <div class="ip-wrap w100p type-unit style-2">
                                    <input name="" class="ip-txt" type="text" value="" placeholder="메뉴명을 입력해 주세요.(영문)" id="ADD_MENU_NM_EN" maxlength="50">
                                    <p class="unit"><span id="nm_en_cnt">0</span><span>/50</span></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="vat">
                            <div>메뉴구성(국문)</div>
                        </th>
                        <td>
                            <div>
                                <div class="ta-group gray with-counting h84 pr70">
                                    <textarea class="ta-ip" placeholder="구성된 메뉴를 모두 입력해 주세요.(국문)" id="ADD_MENU_CTNT" maxlength="200"></textarea>
                                    <span class="counting" id="ctnt_cnt">0/200</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="vat">
                            <div>메뉴구성(영문)</div>
                        </th>
                        <td>
                            <div>
                                <div class="ta-group gray with-counting h84 pr70">
                                    <textarea class="ta-ip" placeholder="구성된 메뉴를 모두 입력해 주세요.(영문)" id="ADD_MENU_CTNT_EN" maxlength="200"></textarea>
                                    <span class="counting" id="ctnt_en_cnt">0/200</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="required" id="menu_gubun">
                            <div>메뉴정보</div>
                        </th>
                        <td>
                            <div>
                                
                                <div class="td-item-group flex-column" id="ADD_MENU_INFO">
                                    
                                    <div class="td-item-group td-item w100p left gap10">
                                        <div class="ip-wrap">
                                            <input name="nxt_menu_nm" class="ip-txt" type="text" value="" placeholder="메뉴명(국문)" maxlength="50" id="first_menu">
                                        </div>
                                        <div class="ip-wrap">
                                            <input name="nxt_menu_nm_en" class="ip-txt" type="text" value="" placeholder="메뉴명(영문)" maxlength="50" id="first_menu_en">
                                        </div>
                                        <div class="ip-wrap type-unit style-2">
                                            <input name="nxt_menu_kcal" class="ip-txt" type="text" value="" placeholder="열량" maxlength="10">
                                            <p class="unit">Kcal</p>
                                        </div>
                                        <div class="ip-wrap type-unit">
                                            <input name="nxt_menu_ctnt" class="ip-txt" type="text" value="" placeholder="메뉴 구성을 입력해 주세요">
                                            <p class="unit">g</p>
                                        </div>
                                        
                                        <div class="btn-group w80 shrink-no">
                                            <button class="btn btn-sm btn-gray-outline" type="button">+ 추가하기</button>
                                        </div>
                                    </div>
                                    
                                    <div class="td-item-group td-item w100p left gap10" name="add_menu_info">
                                        <div class="ip-wrap">
                                            <input name="nxt_menu_nm" class="ip-txt" type="text" value="" placeholder="메뉴명(국문)" maxlength="50">
                                        </div>
                                        <div class="ip-wrap">
                                            <input name="nxt_menu_nm_en" class="ip-txt" type="text" value="" placeholder="메뉴명(영문)" maxlength="50">
                                        </div>
                                        <div class="ip-wrap type-unit style-2">
                                            <input name="nxt_menu_kcal" class="ip-txt" type="text" value="" placeholder="열량" maxlength="10">
                                            <p class="unit">Kcal</p>
                                        </div>
                                        <div class="ip-wrap type-unit">
                                            <input name="nxt_menu_ctnt" class="ip-txt" type="text" value="" placeholder="메뉴 구성을 입력해 주세요">
                                            <p class="unit">g</p>
                                        </div>
                                        
                                        <div class="btn-group w80 shrink-no">
                                            <button class="btn-remove" type="button" id="add_menu_info_remove">삭제</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="vat">
                            <div>영양정보</div>
                        </th>
                        <td>
                            <div>
                                
                                <div class="td-item-group flex-column" id="ADD_KCAL_INFO">
                                    
                                    <div class="td-item-group w100p left td-item gap10">
                                        <div class="ip-wrap">
                                            <input name="add_kcal_info_menu_nm" class="ip-txt" type="text" value="" placeholder="성분명" maxlength="10">
                                        </div>
                                        <div class="ip-wrap type-unit style-2">
                                            <input name="add_kcal_info_menu_kcal" class="ip-txt" type="text" value="" placeholder="ex) 1000kcal">
                                            <p class="unit"></p>
                                        </div>
                                        
                                        <div class="btn-group w80 shrink-no">
                                            <button class="btn btn-sm btn-gray-outline" type="button">+ 추가하기</button>
                                        </div>
                                    </div>
                                    
                                    <div class="td-item-group td-item w100p left gap10" name="add_kcal_info">
                                        <div class="ip-wrap">
                                            <input name="add_kcal_info_menu_nm" class="ip-txt" type="text" value="" placeholder="성분명" maxlength="10">
                                        </div>
                                        <div class="ip-wrap type-unit style-2">
                                            <input name="add_kcal_info_menu_kcal" class="ip-txt" type="text" value="" placeholder="ex) 1000kcal">
                                            <p class="unit"></p>
                                        </div>
                                        
                                        <div class="btn-group w80 shrink-no">
                                            <button class="btn-remove" type="button" id="add_kcal_info_remove">삭제</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <th class="required vat">
                            <div>메뉴금액</div>
                        </th>
                        <td>
                            <div>
                                <div class="ip-wrap type-unit w100p">
                                    <input name="" id="ADD_MENU_AMT" class="ip-txt" type="text" value="" placeholder="메뉴 금액을 입력해 주세요" maxlength="9">
                                    <p class="unit">원</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    <tr id="tr_add_menu_cnt">
                        <th class="vat" id="cnt_menu">
                            <div>수량</div>
                        </th>
                        <td>
                            <div>
                                <div class="ip-wrap type-unit w100p">
                                    <input name="" id="ADD_MENU_CNT" class="ip-txt" type="text" value="" placeholder="수량을 입력해 주세요" maxlength="9">
                                    <p class="unit">개</p>
                                </div>
                                <p class="fs-12 fc-666 mt5">수량은 픽업, 사전예약 메뉴일 경우 입력해 주세요.</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr id="tr_c_soldout_yn"  style="display:none;">
                        <th class="vat"><div>품절여부</div></th>
                        <td colspan="3">
                            <div>
                                <div class="ip-ch-group flex-row">
                                    <label class="ip-ch-label">
                                        <input name="ch-1" id="C_SOLDOUT_YN" class="ip-ch" type="checkbox" value="">
                                        <span class="check"></span> 품절
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    </tbody>
                </table></div><span class="dg-sp-tag">no-bd-left mt12</span></div><div class="dg-sp-cell" data-dg-variant="type-auto-no-active-mt15"><div class="bp-main"><div class="data-table-wrap"><table class="data-table type-auto no-active mt15">
                                        
                                        <colgroup>
                                            <col style="width: 125px;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody>
                                        
                                        <tr>
                                            <th class="vam">
                                                <div class="ta-left">매장식사(조식)</div>
                                            </th>
                                            <td class="ta-left">
                                                <div></div>
                                            </td>
                                        </tr>
                                        

                                        
                                        <tr>
                                            <th class="vam">
                                                <div class="ta-left">매장식사(중식)</div>
                                            </th>
                                            <td class="ta-left">
                                                <div></div>
                                            </td>
                                        </tr>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        </tbody>
                                    </table></div></div><span class="dg-sp-tag">type-auto no-active mt15</span></div><div class="dg-sp-cell" data-dg-variant="no-active-form-table-mt15-pd-table"><div class="bp-main"><div class="row"><div class="row"><div class="data-table-wrap"><table class="data-table no-active form-table mt15 pd-table">
                                    
                                    <colgroup>
                                        <col style="width: 125px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    
                                    <tr>
                                        <th class="vam">
                                            <div class="ta-left">매장식사(조식)</div>
                                        </th>
                                        <td class="ta-left">
                                            <div class="td-item-group left">
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_str_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_str_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">~</span>
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_end_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="brunch_select" id="brunch_end_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    

                                    
                                    <tr>
                                        <th class="vam">
                                            <div class="ta-left">매장식사(중식)</div>
                                        </th>
                                        <td class="ta-left">
                                            <div class="td-item-group left">
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_str_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_str_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">~</span>
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_end_h" class="">
                                                        <option value="00">00</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                                <span class="td-item">:</span>
                                                <div class="sel td-item w100">
                                                    <select name="lunch_select" id="lunch_end_m" class="">
                                                        <option value="00">00</option>
                                                        <option value="05">05</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="25">25</option>
                                                        <option value="30">30</option>
                                                        <option value="35">35</option>
                                                        <option value="40">40</option>
                                                        <option value="45">45</option>
                                                        <option value="50">50</option>
                                                        <option value="55">55</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    

                                    </tbody>
                                </table></div></div></div></div><span class="dg-sp-tag">no-active form-table mt15 pd-table</span></div></div>
