<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="justify"><div class="new_store"><div class="ipt_area"><div class="ipt_bx"><div class="sel_bx justify">
								<ul>
									<li><label><input data-element-id="MCH-AFLT-10-10-10-S-e15" type="radio" name="sub_biz_yn" id="Y" value="Y"> 네</label></li>
									<li><label><input data-element-id="MCH-AFLT-10-10-10-S-e16" type="radio" name="sub_biz_yn" id="N" value="N" checked> 아니요</label></li>
								</ul>
							</div></div></div></div><span class="dg-sp-tag">justify</span></div><div class="dg-sp-cell" data-dg-variant="----"><div class="new_store"><div class="sel_bx">
                            <h3>위 신청자가 사업자의 대표자인가요?</h3>
                            <ul>
                                <li><label><input data-element-id="MCH-AFLT-30-10-S-e07" type="radio" name="apy_repr_yn" id="Y" value="Y">네</label></li>
                                <li><label><input data-element-id="MCH-AFLT-30-10-S-e08" type="radio" name="apy_repr_yn" id="N" value="N">아니요, 대리인 입니다.</label></li>
                            </ul>
                        </div></div><span class="dg-sp-tag">(기본)</span></div></div>
