<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div class="input_wrap"><table class="tbl_style">
							<caption></caption><colgroup><col></colgroup>
							<tbody>
								<tr><td><div class="tit">제로페이 가맹점 대표명</div></td></tr>
								<tr>
									<td>
										
													<div class="input_type dis">
													비플머니
													</div>
													
										
									</td>
								</tr>
							</tbody>
						</table></div><span class="dg-sp-tag">(기본)</span></div></div>
