<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----" data-dg-state="default"><div class="new_store"><div class="ipt_area"><div class="ipt_bx">
							<h3>사업자등록번호</h3>
							<div class="ipt">
								<input data-element-id="MCH-AFLT-10-10-10-S-e14" type="tel" value="" placeholder="사업자등록번호 숫자 10자리 입력"  id="biz_no" maxlength="10" jex-input="onlyNumber">
							</div>
						</div></div></div><span class="dg-sp-tag">(기본)</span></div><div class="dg-sp-cell" data-dg-variant="----" data-dg-state="filled"><div class="new_store"><div class="ipt_area"><div class="ipt_bx">
							<h3>사업자등록번호</h3>
							<div class="ipt">
								<input data-element-id="MCH-AFLT-10-10-10-S-e14" type="tel" value="123-45-67890" placeholder="사업자등록번호 숫자 10자리 입력"  id="biz_no" maxlength="10" jex-input="onlyNumber">
							</div>
						</div></div></div><span class="dg-sp-tag">(기본) · 입력됨</span></div><div class="dg-sp-cell" data-dg-variant="upload"><div class="new_store"><div class="conpany_info"><div class="ipt_area"><div class="ipt_bx upload">
                                        <h3>사업자등록증</h3>
                                        <p>사업자등록증, 사업자등록증명원(발급 3개월 이내), 고유번호증(비영리법인/단체) 중 보유하신 서류를 첨부해 주세요.</p>
                                        <div class="file" id="f1">
                                            <a data-element-id="MCH-AFLT-20-20-S-e14" href="#none" id="file1" data-value="1">파일 첨부하기</a>
                                            <input data-element-id="MCH-AFLT-20-20-S-e16" type="file" style="display: none" href="#none" id="fi1" name="fi1" value="" hidden>
                                        </div>
                                    </div></div></div></div><span class="dg-sp-tag">upload</span></div><div class="dg-sp-cell" data-dg-variant="adress" data-dg-state="default"><div class="new_store"><div class="conpany_info step1"><div class="inner"><div class="ipt_area"><div class="ipt_bx adress">
                                    <h3>사업장 소재지</h3>
                                    <div class="ipt auto"><input data-element-id="MCH-AFLT-30-S-e18" type="text" placeholder="우편번호" id="zip_cd" readonly value="004" data-fill="demo"></div>
                                    <p class="address_sch"><a data-element-id="MCH-AFLT-30-S-e13" href="javascript:" id="post_btn">주소 검색</a></p>
                                    <div class="ipt auto"><input data-element-id="MCH-AFLT-30-S-e19" type="text" id="addrs" readonly value="서울 강남구 테헤란로 1길 10" data-fill="demo"></div>
                                    <div class="ipt"><input data-element-id="MCH-AFLT-30-S-e20" type="text" placeholder="상세주소 입력" id="addrs2" maxlength="100" value="101동 1001호" data-fill="demo"></div>
                                </div></div></div></div></div><span class="dg-sp-tag">adress</span></div><div class="dg-sp-cell" data-dg-variant="adress" data-dg-state="filled"><div class="new_store"><div class="conpany_info step1"><div class="inner"><div class="ipt_area"><div class="ipt_bx adress">
                                    <h3>사업장 소재지</h3>
                                    <div class="ipt auto"><input data-element-id="MCH-AFLT-30-S-e18" type="text" placeholder="우편번호" id="zip_cd" readonly value="004" data-fill="demo"></div>
                                    <p class="address_sch"><a data-element-id="MCH-AFLT-30-S-e13" href="javascript:" id="post_btn">주소 검색</a></p>
                                    <div class="ipt auto"><input data-element-id="MCH-AFLT-30-S-e19" type="text" id="addrs" readonly value="서울 강남구 테헤란로 1길 10" data-fill="demo"></div>
                                    <div class="ipt"><input data-element-id="MCH-AFLT-30-S-e20" type="text" placeholder="상세주소 입력" id="addrs2" maxlength="100" value="101동 1001호" data-fill="demo"></div>
                                </div></div></div></div></div><span class="dg-sp-tag">adress · 입력됨</span></div><div class="dg-sp-cell" data-dg-variant="email" data-dg-state="default"><div class="new_store"><div class="conpany_info"><div class="inner"><div class="ipt_area"><div class="ipt_bx email">
                                <h3>가맹점주(점장) 이메일</h3>
                                <div class="ipt"><input data-element-id="MCH-AFLT-40-S-e36" type="text" placeholder="이메일 입력" id="aflt_repr_email" value="user@example.com" data-fill="demo"></div>
                                
                                <div class="ipt mail_domain toggle_wrap">
                                    <p class="trigger"><a data-element-id="MCH-AFLT-40-S-e25" href="#none" id="sel_mail" data-value="" class="mail_btn">직접입력</a></p>
                                    <div class="toggle_con" style="display:none;" id="toggle_mail">
                                        <ul>
                                            <li><a name="mail" id="direct" data-value="x">직접입력</a></li>
                                            <li><a name="mail" id="gmail" data-value="@gmail.com">@gmail.com</a></li>
                                            <li><a name="mail" id="naver" data-value="@naver.com">@naver.com</a></li>
                                            <li><a name="mail" id="daum" data-value="@daum.net">@daum.net</a></li>
                                            <li><a name="mail" id="outlook" data-value="@outlook.com">@outlook.com</a></li>
                                            <li><a name="mail" id="nate" data-value="@nate.com">@nate.com</a></li>
                                            <li><a name="mail" id="hanmail" data-value="@hanmail.net">@hanmail.net</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div></div></div></div></div><span class="dg-sp-tag">email</span></div><div class="dg-sp-cell" data-dg-variant="email" data-dg-state="filled"><div class="new_store"><div class="conpany_info"><div class="inner"><div class="ipt_area"><div class="ipt_bx email">
                                <h3>가맹점주(점장) 이메일</h3>
                                <div class="ipt"><input data-element-id="MCH-AFLT-40-S-e36" type="text" placeholder="이메일 입력" id="aflt_repr_email" value="user@example.com" data-fill="demo"></div>
                                
                                <div class="ipt mail_domain toggle_wrap">
                                    <p class="trigger"><a data-element-id="MCH-AFLT-40-S-e25" href="#none" id="sel_mail" data-value="" class="mail_btn">직접입력</a></p>
                                    <div class="toggle_con" style="display:none;" id="toggle_mail">
                                        <ul>
                                            <li><a name="mail" id="direct" data-value="x">직접입력</a></li>
                                            <li><a name="mail" id="gmail" data-value="@gmail.com">@gmail.com</a></li>
                                            <li><a name="mail" id="naver" data-value="@naver.com">@naver.com</a></li>
                                            <li><a name="mail" id="daum" data-value="@daum.net">@daum.net</a></li>
                                            <li><a name="mail" id="outlook" data-value="@outlook.com">@outlook.com</a></li>
                                            <li><a name="mail" id="nate" data-value="@nate.com">@nate.com</a></li>
                                            <li><a name="mail" id="hanmail" data-value="@hanmail.net">@hanmail.net</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div></div></div></div></div><span class="dg-sp-tag">email · 입력됨</span></div><div class="dg-sp-cell" data-dg-variant="c_code" data-dg-state="default"><div class="new_store"><div class="conpany_info"><div class="inner"><div class="ipt_area"><div class="ipt_bx c_code">
                                <h3>가맹점 업종코드</h3>
                                <div class="ipt auto"><input data-element-id="MCH-AFLT-40-S-e41" type="text" placeholder="(업종코드) 업종명" data-ctgr-catg="" id="upjong_cd" readonly value="004" data-fill="demo"></div>
                                <p class="code_sch"><a data-element-id="MCH-AFLT-40-S-e27" href="#none" class="sch_btn">업종코드 검색</a></p>
                            </div></div></div></div></div><span class="dg-sp-tag">c_code</span></div><div class="dg-sp-cell" data-dg-variant="c_code" data-dg-state="filled"><div class="new_store"><div class="conpany_info"><div class="inner"><div class="ipt_area"><div class="ipt_bx c_code">
                                <h3>가맹점 업종코드</h3>
                                <div class="ipt auto"><input data-element-id="MCH-AFLT-40-S-e41" type="text" placeholder="(업종코드) 업종명" data-ctgr-catg="" id="upjong_cd" readonly value="004" data-fill="demo"></div>
                                <p class="code_sch"><a data-element-id="MCH-AFLT-40-S-e27" href="#none" class="sch_btn">업종코드 검색</a></p>
                            </div></div></div></div></div><span class="dg-sp-tag">c_code · 입력됨</span></div><div class="dg-sp-cell" data-dg-variant="cert_name" data-dg-state="default"><div class="new_store"><div class="conpany_info step4"><div class="inner"><div class="ipt_area"><div class="ipt_bx cert_name">
                                        <h3>입금 계좌 실명</h3>
                                        <div class="ipt auto"><input data-element-id="MCH-AFLT-60-S-e23" type="text" id="acct_nm" value="" readonly></div>
                                        <p class="address_sch"><a data-element-id="MCH-AFLT-60-S-e19" href="#none" id="certi_btn">실명 인증</a></p>
                                    </div></div></div></div></div><span class="dg-sp-tag">cert_name</span></div></div>
