<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----" style="position:relative;min-height:480px"><div class="layer_bPop" >
		<div class="popup_con pd0">
			
			<div class="tel_select">
				<h2>
					<strong>통신사 선택</strong>
				</h2>
				
				<p class="btn_close">
					<a id="close_tel_corp_layer">
						<span class="blind">닫기</span>
					</a>
				</p>
				
				
				<ul class="tel_list">
					<li>
						<a value="01">SKT</a>
					</li>
					<li>
						<a value="02">KT</a>
					</li>
					<li>
						<a value="03">LG U+</a>
					</li>
					<li>
						<a value="04">SKT 알뜰폰</a>
					</li>
					<li>
						<a value="05">KT 알뜰폰</a>
					</li>
					<li>
						<a value="06">LG U+ 알뜰폰</a>
					</li>
				</ul>
				
				<input type="hidden" class="sds-value" id="tele_corp" />
			</div>
			
		</div>
	</div><span class="dg-sp-tag">(기본)</span></div></div>
