<div class="dg-body"><div class="wrap bg_br">
    <div class="header floating-back-header floating-sticky">
        <h1>비플머니 회원가입</h1>
        <a data-element-id="MGC-GIFT-10-S-e05" id="go_back" href="#" class="btn-history-back">뒤로가기</a>
        
    </div>
    <div class="container">
        <div class="content">

            
            <div class="row-bothpadding20-style btn">

                
                <div class="st_titbx">
                    <p>비플머니 회원가입을 위해서<br> 하단 약관 동의가 필요합니다.</p>
                </div>
                

                
                <div class="clause_agbx">
                    <dl>
                        <dt>
                            <label for="agree-chk0"><input data-element-id="MGC-GIFT-10-S-e07" type="checkbox" id="agree-chk0" class="chk-general"><span class="ag_txt">전체 약관 동의 (선택 포함)</span>
                        </dt>
                        <dd>
                            <ul>
                                
                                    
                                        <li><label for="agree-chk"><input data-element-id="MGC-GIFT-10-S-e08" type="checkbox" name="chk" id="agree-chk" class="chk-general" clause_no="<p>제1조 (목적) 이 약관은 서비스 이용에 관한 기본 사항을 정합니다.</p><p>제2조 (정의) 이 약관에서 쓰는 용어의 뜻은 관련 법령과 서비스 안내에 따릅니다.</p><p>제3조 (약관의 효력) 이 약관은 서비스 화면에 게시하여 효력이 생깁니다.</p>" clause_agree_bv="<p>제1조 (목적) 이 약관은 서비스 이용에 관한 기본 사항을 정합니다.</p><p>제2조 (정의) 이 약관에서 쓰는 용어의 뜻은 관련 법령과 서비스 안내에 따릅니다.</p><p>제3조 (약관의 효력) 이 약관은 서비스 화면에 게시하여 효력이 생깁니다.</p>" status=""><span class="ag_txt"><p>제1조 (목적) 이 약관은 서비스 이용에 관한 기본 사항을 정합니다.</p><p>제2조 (정의) 이 약관에서 쓰는 용어의 뜻은 관련 법령과 서비스 안내에 따릅니다.</p><p>제3조 (약관의 효력) 이 약관은 서비스 화면에 게시하여 효력이 생깁니다.</p> </span></label><a class="btn"></a></li>








                                    
                                
                            </ul>
                        </dd>
                    </dl>
                </div>
                

            </div>
            

            
            <div class="btn_fixed_section">
                <a data-element-id="MGC-GIFT-10-S-e06" id="join_btn" href="#" class="btn_fix_rd"><span>동의 후 회원가입</span></a>
            </div>
            

            
            <div id="clause_modal" class="modaloverlay type1" style="display: none;">
                <div class="lytb"><div class="lytb_row"><div class="lytb_td">
                    <div class="layer_style1">
                        <div class="layer_po">
                            <a class="btn_r"><span class="btn_close"><span class="blind">닫기</span></span></a>
                            <div class="cont2">
                                <div class="ly_st_tit">
                                    <p></p>
                                </div>

                                <div class="ly_st_clause">
                                    <div class="ly_st_terms">
                                        <p></p>
                                    </div>
                                </div>

                                <div class="ly_st_btn">
                                    <a class="btn_fix_rd on" style="margin-left: 0px;margin-right:0px;">확인</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div></div>
            </div>

        </div>
    </div>
</div></div>
