<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="btn-skyBlue-round_r8-on"><div class="wrap"><div class="inner"><a data-element-id="MGC-COMN-10-10-10-S-e04" href="#" class="btn-style-h48 btn-skyBlue round_r8 on">>
							<span>확인</span>
						</a></div></div><span class="dg-sp-tag">btn-skyBlue round_r8 on</span></div><div class="dg-sp-cell" data-dg-variant="btn-default-round_r8"><a data-element-id="MGC-GIFT-20-S-e06" id="approve" class="btn-default btn-style-h48 round_r8 ">
						하기
					</a><span class="dg-sp-tag">btn-default round_r8</span></div></div>
