<div class="dg-body"><div class="dg-sp-cell" data-dg-variant="----"><div class="terms-ct_t2"><div class="terms-section"><div class="tbl_terms">
										<table summary="">
											<caption></caption>
											<colgroup>
											<col>
											<col>
											</colgroup>
											<thead>
												<tr>
													<th scope="col">서비스 명</th>
													<th scope="col">서비스 내용</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>가맹점 검색/찾기 서비스</td>
													<td>
														<ol>
															<li>1. 이용자의 실시간 위치 확인</li>
															<li>2. 이용자의 위치를 기반으로 주변 가맹점 정보 제공</li>
															<li>3. 이용자의 위치를 기반으로 주변 가맹점의 결제 가능한 상품권 정보 제공</li>
														</ol>
													</td>
												</tr>
												<tr>
													<td>비대면결제 가맹점 검색/찾기 서비스</td>
													<td>
														<ol>
															<li>1. 이용자의 실시간 위치 확인</li>
															<li>2. 이용자의 위치를 기반으로 주변 비대면결제 활성화 가맹점 정보 제공</li>
															<li>3. 이용자의 위치를 기반으로 주변 비대면결제 활성화 가맹점에서 결제 수단 제공</li>
														</ol>
													</td>
												</tr>
											</tbody>
										</table>
									</div></div></div><span class="dg-sp-tag">(기본)</span></div></div>
